body {
    display: block;
    font-family: 'Itim', cursive;
    background-color: rgb(29, 29, 36);
}

a {
    text-decoration: none;
}

.navbar {
    padding-bottom: 20px;
}

.headline {
    text-align: center;
    text-decoration: none;
    color: rgb(93, 93, 252);
    font-size: 100px;
    user-select: none;

}

.headline a:hover {
    /* text-decoration: underline; */
    text-decoration-line: underline;
    font-stretch: normal;
}

.bot-description-text {
    text-align: center;
    color: rgb(93, 93, 252);
    padding-top: 2%;
    font-size: 30px;
    line-height: 50px;
}

.contact-discord {
    text-align: center;
    padding-top: 20px;
    color: rgb(93, 93, 252);
    font-size: 30px;
}

.contact-twitch {
    text-align: center;
    padding-top: 20px;
    color: rgb(93, 93, 252);
    font-size: 30px;
}

.contact-discord a:hover {
    text-decoration: underline;
}

.contact-twitch :hover {
    text-decoration: underline;
}

.bot-join-part-description {
    text-align: center;
    padding-top: 20px;
    color: rgb(93, 93, 252);
    font-size: 30px;
}

.bot-join-part-description a:hover {
    text-decoration: underline;
}

.prefix {
    text-align: center;
    padding-top: 20px;
    color: rgb(93, 93, 252);
    font-size: 30px;
}

.tableover {
    text-align: center;
    width: 500px;
    font-size: 25px;
    display: table;
    color: white;
    border-color: aqua;
    background-color: rgb(24, 121, 113);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.tableoverdev {    
    text-align: center;
    width: 500px;
    font-size: 25px;
    display: inline-table;
    color: white;
    border-color: aqua;
    background-color: rgb(209, 23, 54);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px; 
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}
.commands {
    padding-top: 100px;
    padding-left: 15px;
}

tablehead {
    text-decoration: underline;
    user-select: none;
}

areac {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.623);
    display: inline-table;
    font-size: 25px;
    width: 25%;
    height: 33px;
    /* background-color: rgb(73, 118, 155); */
    /* user-select: none; */
}

areac2 {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    color: rgba(255, 255, 255, 0.623);
    display: inline-table;
    font-size: 25px;
    width: 55%;
    height: 33px;
    /* background-color: rgb(73, 118, 155); */
    user-select: none;
}

areac3 {
    text-align: center;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.623);
    display: inline-table;
    font-size: 25px;
    width: 15%;
    height: 33px;
    /* background-color: rgb(73, 118, 155); */
    user-select: none;
}

areac4 {
    text-align: center;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    /* padding-bottom: 2px; */
    color: rgba(255, 255, 255, 0.623);
    display: inline-table;
    font-size: 22px;
    width: 27%;
    height: 33px;
    background-color: rgb(58, 58, 95);
}

areac5 {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;    
    padding-left: 30px;
    /* padding-bottom: 2px; */
    color: rgba(255, 255, 255, 0.623);
    /* display: inline-block; */
    display: inline-table;
    font-size: 22px;
    width: 55%;
    height: 33px;
    background-color: rgb(73, 118, 155);
    user-select: none;
}

areac6 {
    text-align: center;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    /* padding-bottom: 2px; */
    color: rgba(255, 255, 255, 0.623);
    display: inline-table;
    font-size: 22px;
    width: 15%;
    height: 33px;
    background-color: rgb(35, 48, 236);
}

text {
    color: rgb(21, 171, 240);
    /* padding-left: 30px; */
}

text2 {
    /* padding-inline: 100px; */
    color: white;
}

spacerc1 {
    display: block;
    height: 25px;
}

spacerc2 {
    display: block;
    height: 150px;

}
sockedl {
    font-size: 15px;
    user-select: none;
    color: chartreuse;
}

.socked {
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 1%;

}

.socked a:hover {
    text-decoration: underline;
}